.bg-dark {
  background-color: #201c29;
}

.color-1 {
  background-color: #ff9aa2 !important;
}
.color-2 {
  background-color: #ffb7b2 !important;
}
.color-3 {
  background-color: #ffdac1 !important;
}
.color-4 {
  background-color: #b5ead7 !important;
}
.color-5 {
  background-color: #779ecb !important;
}
.color-6 {
  background-color: #c7ceea !important;
}
